body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom,#414141,#070707);
  background-repeat: no-repeat;
  background-color: #070707;
  background-size: cover;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #414141;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

header img {
  margin: 0px 300px 50px 10px;
  width: 150px;
}

header .nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

header .nav a {
  text-decoration: none;
  font-size: 30px;
  color: #b1b1b1;
  transition: 0.1s;
}

header .nav a:hover {
  color: #ffffff;
}

header .profile, .loginLink {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} 

header .profile a {
  margin-right: 15px;
  padding: 10px;
  border-radius: 50px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .profile a i {
  margin-right: 10px;
}

header .profile a {
  color: #b1b1b1;
  transition: 0.1s;
  text-decoration: none;
  text-align: center;
  align-self: center;
}

header .profile a:hover {
  color: #ffffff;
}

.main {
  margin-top: 100px;
}

.loginLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

.loginLink i {
  margin-right: 10px;
}
.loading-div {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 110px;
}

.loading-message {
  font-size: 100%;
  margin-right: 10%;
}

.loading-gif {
  width: 10%;
  margin: 30% 5%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.login button, .searchPage button {
  background-color: #366346;
  font-size: 30px;
  font-family: 'Gotham', sans-serif;
  padding: 15px;
  margin-left: 30px;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  transition: 0.1s;
}

.login button:hover, .searchPage button:hover {
  background-color: #105528;
  cursor: pointer;
}

.login button:disabled, .searchPage button:disabled {
  color:rgb(65, 65, 65);
  background-color:#3c5244;
}

.login label, .searchPage label {
  font-size: 40px;
  align-self: center;
}

.login input, .searchPage input {
  border: 0;
  font-size: 30px;
  border-radius: 50px;
  padding: 10px;
}

.login input:focus, .searchPage input:focus {
  border: 0;
  outline: none;
  background-color: white;
  color: #3b3b3b;
}

.searchPage{
  padding: 15px;
  margin-top: 100px;
}

.searchSec {
  margin: 30px;
}

.album {
  margin: 15px 0px;
}

.album a {
  background-color: #181818;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.album a:hover {
  background-color: #292929;
}

.albumHeader {
  display: flex;
  background-color: #181818;
  padding: 30px;
}

.albumHeader img {
  width: 210px;
}

.albumInfo {
  margin-left: 30px;
  width: auto;
}

.albumInfo h1 {
  font-size: 50px;
}

.albumInfo span:last-child {
  font-size: 20px;
}

.musics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  transition: 0.3s;
}

.favorite {
  font-size: 140%;
}

.favorite input {
  cursor: pointer;
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
  margin: 0 20px;
  filter: invert(100%) hue-rotate(90deg) brightness(0.5);
}

.resultText {
  margin: 30px 0px;
}

.musicCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  padding: 15px;
  background-color: rgb(238, 238, 238);
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #181818;
}

.songInfo {
  display: flex;

}

.artist-track span {
  color: rgb(150, 150, 150);
}

.songInfo img {
  margin-right: 15px;
}

.audio {
  width: 400px;
}

audio::-webkit-media-controls-panel {
  background-color: #c2c2c2;
  width: 400px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  transition: 5s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133);
}
