body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #0a0a0a;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  top: 0;
}

header img {
  margin: 0px 300px 50px 10px;
  width: 150px;
}

header .nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

header .nav a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  transition: 0.1s;
}

header .nav a:hover {
  font-size: 33px;
}

header .profile {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} 

header .profile section {
  margin-right: 15px;
  padding: 10px;
  border-radius: 50px;
  background-color: #141414;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .profile section i {
  margin-right: 10px;
}

header .profile b {
  color: #ffffff;
  transition: 0.1s;
  text-decoration: none;
  text-align: center;
  align-self: center;
}

header .profile b:hover {
  font-size: 17px;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.login button, .searchPage button {
  background-color: #1DB954;
  font-size: 30px;
  font-family: 'Gotham', sans-serif;
  padding: 15px;
  margin-left: 30px;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  transition: 0.1s;
}

.login button:hover, .searchPage button:hover {
  background-color: #116d31;
  cursor: pointer;
}

.login button:disabled, .searchPage button:disabled {
  color:rgb(65, 65, 65);
  background-color:#116d31;
}

.login label, .searchPage label {
  font-size: 40px;
  align-self: center;
}

.login input, .searchPage input {
  font-size: 30px;
}

.searchPage{
  padding: 15px;
}

.album {
  margin: 15px 0px;
}

.album a {
  background-color: #181818;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.album a:hover {
  background-color: #292929;
}

.albumHeader {
  display: flex;
  background-color: #181818;
  padding: 30px;
}

.albumHeader img {
  width: 210px;
}

.albumInfo {
  margin-left: 30px;
  width: auto;
}

.albumInfo h1 {
  font-size: 50px;
}

.albumInfo span:last-child {
  font-size: 20px;
}

.musics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  transition: 0.3s;
}

.resultText {
  margin: 30px 0px;
}

.musicCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  padding: 15px;
  background-color: rgb(238, 238, 238);
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #181818;
}

.songInfo {
  display: flex;

}

.artist-track span {
  color: rgb(150, 150, 150);
}

.songInfo img {
  margin-right: 15px;
}

.audio {
  width: 400px;
}

audio::-webkit-media-controls-panel {
  background-color: #c2c2c2;
  width: 400px;
}

